<app-navbar></app-navbar>
<div class="card text-center">
    <div class="row">
        <div class="col-lg-6">
            <p class="h1 mt-5">Contact Us</p>
            <div class="card-body">
                <h5 class="card-title">Have a problem?</h5>
                <h5 class="card-title">Do let us know, it's an honor</h5>
                <p class="h5" style="font-weight: 800">Email us at:</p>
                <p class="h6">padhvaiya@outlook.com</p>
                <p class="h5" style="font-weight: 800">Call us at:</p>
                <p class="h6">8299641462</p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="assets/images/contact-us.svg" alt="contact-us" width="1080" height="760">
        </div>
    </div>
</div>