<app-navbar></app-navbar>
<div class="card text-center">
    <div class="row">
        <div class="col-lg-6">
            <p class="h1 mt-5">About Us</p>
            <div class="card-body">
                <p class="h5">Have you ever stuck hard on a problem and there is no one to help you with the solution?
                    What if you could ask that question from any one around the world!
                    We provide a platform where you can ask any question, be it a tricky problem of mathematics, or a
                    complex
                    structure of chemistry or a question from history. We have got you covered with everything.
                    Just type your question or upload an image of written question at your convenience followed by
                    choosing the
                    subject of question and anyone around the world can answer your question.
                    Now your solution to difficult questions is just few clicks away.</p>
                <p class="h5">The adventure doesn't stop here! You can also sign up here and answer questions of your interest
                    asked by
                    others and help the stream of education flow longer and reach millions.
                    So, keep learning and help others learn.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="assets/images/about-us.svg" alt="about-us" width="1080" height="760">
        </div>
    </div>
</div>