<header>
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a href="index.html" title=""><img src="assets/images/brand-logo.jpeg" alt="brand-log" width="100"
                        height="80"></a>
            </div>
            <!--   <div class="search-bar">
                <form>
                    <input type="text" name="search" placeholder="Search...">
                    <button type="submit"><i class="la la-search"></i></button>
                </form>
            </div> -->
            <nav>
                <ul>
                    <li>
                        <a routerLink="/home" title="">
                            <span><i class="material-icons">
                                home
                                </i><p class="nav-item" style="color: #fff">Home</p></span>
                            
                        </a>
                    </li>
                    <li>
                        <a routerLink="/about-us" title="">
                            <span><i class="material-icons">
                                info
                                </i><p class="nav-item" style="color: #fff">About Us</p></span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact-us" title="">
                           <span><i class="material-icons">
                                call
                                </i><p class="nav-item" style="color: #fff">Contact Us</p></span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/campus-connect" title="">
                           <span><i class="material-icons">
                            people
                                </i><p class="nav-item" style="color: #fff">Campus Connect</p></span>
                        </a>
                    </li>
                    <!--   <li>
                        <a href="#" title="" class="not-box-open">
                            <span><img src="assets/images/icon7.png" alt=""></span>
                            Notification
                        </a>
                        <div class="notification-box">
                            <div class="nt-title">
                                <h4>Setting</h4>
                                <a href="#" title="">Clear all</a>
                            </div>
                            <div class="nott-list">
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="assets/images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="assets/images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="assets/images/resources/ny-img3.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                </div>
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="assets/images/resources/ny-img2.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                        <span>2 min ago</span>
                                    </div>
                                </div>
                                <div class="view-all-nots">
                                    <a href="#" title="">View All Notification</a>
                                </div>
                            </div>
                        </div>
                    </li> -->
                    <li *ngIf=userId>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#exampleModal">
                            Ask a question
                        </button>
                        <!-- Question Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Ask a Question</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            #closeButton>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="askQuestionForm" (ngSubmit)="onNewQuestionSubmit();">
                                            <div class="form-group">
                                                <label for="desc"></label>
                                                <input type="text" class="form-control" formControlName="desc" id="desc"
                                                    aria-describedby="desc" placeholder="Enter your question">
                                                <input type="file" class="form-control" id="file"
                                                    (change)="fileUpload($event);" enctype="multipart/form-data">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </nav>
            <!--nav end-->
            <div class="menu-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div>
            <!--menu-btn end-->
            <div class="user-account" style="cursor: pointer" (click)="onToggleProfile()">
                <div class="user-info" class="mt-3 pt-1">
                    <p class="user-screen">{{userName}} <i class="la la-sort-down"></i></p>

                </div>
                <div class="user-account-settingss" #userSettings>
                    <ng-container [ngSwitch]="userId">
                        <ng-container *ngSwitchCase="null">
                            <h3 class="tc"><a routerLink="/login" title="">Login / Signup</a></h3>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <h3 class="tc"><a routerLink="/user/{{userId}}" title="">View Profile</a></h3>
                            <h3 class="tc"><a (click)="goLogout();" style="cursor:pointer">Logout</a></h3>
                        </ng-container>
                    </ng-container>
                    <!-- <ul class="us-links">
                        <li><a routerLink="/settings" title="">Account Setting</a></li>
                        <li><a href="#" title="">Privacy</a></li>
                        <li><a href="#" title="">Faqs</a></li>
                        <li><a href="#" title="">Terms & Conditions</a></li>
                    </ul> -->
                </div>
                <!--user-account-settingss end-->
            </div>
        </div>
        <!--header-data end-->
    </div>
</header>
<!--header end-->