<app-navbar></app-navbar>
<!-- <div class="search-sec">
    <div class="container">
        <div class="search-box">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Enter a group name  here...">
        </div>
    </div>
</div> -->
<div class="main">
    <div class="container">
        <div class="main-section-data">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-lg-4"></div>
                <div class="col-lg-6">
                    <p class="h1" style="font-family: monospace">Campus Connection</p>

                </div>
                <div class="col-lg-2">
                    <button class="btn btn-primary btn-lg">Create your College group</button>
                </div>
            </div>
            Coming soon...
           <!--  <div class="row mt-5 d-flex justify-content-center">
                <div class="col-lg-3">
                    <div class="group-main">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/logo.png" class="rounded">
                            <p class="h5 pl-3 pt-1">A cool group</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="h6">Invertis University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="group-main">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/logo.png" class="rounded">
                            <p class="h5 pl-3 pt-1">A cool group</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="h6">Invertis University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="group-main">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/logo.png" class="rounded">
                            <p class="h5 pl-3 pt-1">A cool group</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="h6">Invertis University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="group-main">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/logo.png" class="rounded">
                            <p class="h5 pl-3 pt-1">A cool group</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="h6">Invertis University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <div class="group-main">
                            <div class="d-flex justify-content-center">
                                <img src="assets/images/logo.png" class="rounded">
                                <p class="h5 pl-3 pt-1">A cool group</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="h6">Invertis University</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                            <div class="group-main">
                                <div class="d-flex justify-content-center">
                                    <img src="assets/images/logo.png" class="rounded">
                                    <p class="h5 pl-3 pt-1">A cool group</p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <p class="h6">Invertis University</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="group-main">
                                    <div class="d-flex justify-content-center">
                                        <img src="assets/images/logo.png" class="rounded">
                                        <p class="h5 pl-3 pt-1">A cool group</p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="h6">Invertis University</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                    <div class="group-main">
                        <div class="d-flex justify-content-center">
                            <img src="assets/images/logo.png" class="rounded">
                            <p class="h5 pl-3 pt-1">A cool group</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="h6">Invertis University</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>