<app-navbar></app-navbar>
<input style="display: none" type="file" (change)="processFile(imageInput)" #imageInput accept="image/*">
<section class="cover-sec" style="cursor: pointer">
    <img src="http://via.placeholder.com/1600x400" alt="" (click)="imageInput.click()">
</section>
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="http://via.placeholder.com/170x170" alt="">
                                </div>
                                <!--user-pro-img end-->
                                <div class="user_pro_status">
                                    <!-- <ul class="flw-hr">
                                            <li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
                                            <li><a href="#" title="" class="hre">Hire</a></li>
                                        </ul> -->
                                    <ul class="flw-status">
                                        <li>
                                            <span>Questions asked</span>
                                            <b>{{currentUser.questionsCount}}</b>
                                        </li>
                                        <li>
                                            <span>Answers written</span>
                                            <b>{{currentUser.answersCount}}</b>
                                        </li>
                                    </ul>
                                </div>
                                <!--user_pro_status end-->
                                <!-- <ul class="social_links">
                                        <li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                        <li><a href="#" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-twitter"></i> Http://www.Twitter.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-google-plus-square"></i> Http://www.googleplus.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-behance-square"></i> Http://www.behance.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-pinterest"></i> Http://www.pinterest.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-instagram"></i> Http://www.instagram.com/john...</a></li>
                                        <li><a href="#" title=""><i class="fa fa-youtube"></i> Http://www.youtube.com/john...</a></li>
                                    </ul> -->
                            </div>
                            <!--user_profile end-->
                        </div>
                        <!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec">
                                <h3>{{currentUser.firstName + ' ' + currentUser.lastName }}</h3>
                                <div class="star-descp">
                                    <p class="h6">{{currentUser.email}}</p>
                                </div>
                                <!--star-descp end-->
                                <div class="tab-feed"
                                    *ngIf="_stateService.userState.questionList.length > 0 || _stateService.userState.answerList.length > 0 ; else askQuestion">
                                    <ul>
                                        <li data-tab="feed-dd" class="active"
                                            (click)="onToggleQuestionAnswer('quesTab')" #quesTab>
                                            <a title="">
                                                <img src="images/ic1.png" alt="">
                                                <span style="cursor: pointer">Questions</span>
                                            </a>
                                        </li>
                                        <li data-tab="info-dd" (click)="onToggleQuestionAnswer('ansTab')" #ansTab>
                                            <a title="">
                                                <img src="images/ic2.png" alt="">
                                                <span style="cursor: pointer">Answers</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- tab-feed end-->
                                <ng-template #askQuestion>

                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Ask a question
                                    </button>

                                    <!-- Question Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true" #questionBox>
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel">Ask a Question</h3>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form [formGroup]="askQuestionForm"
                                                        (ngSubmit)="onNewQuestionSubmit();">
                                                        <div class="form-group">
                                                            <label for="desc"></label>
                                                            <input type="text" class="form-control"
                                                                formControlName="desc" id="desc"
                                                                aria-describedby="desc"
                                                                placeholder="Enter your question">
                                                        </div>
                                                        <!--  <div class="form-group">
                                                            <label for="questionFile">Drop your question in
                                                                an image</label>
                                                            <input type="file" class="form-control-file"
                                                                id="questionFile" formControlName="questionFile">
                                                        </div> -->
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal" #closeQuestionBox>Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <!--user-tab-sec end-->
                            <div class="product-feed-tab current" id="feed-dd" #userTab>
                                <div class="post-bar" *ngFor="let question of _stateService.userState.questionList">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="assets/images/cmp-icon6.png" width="35" height="35">
                                            <div class="usy-name">
                                                <h3>Question creator</h3>
                                                <span>
                                                    <img src="assets/images/clock.png">
                                                    3 min ago
                                                </span>
                                            </div>  
                                        </div>
                                        <div class="ed-opts">
                                           <button class="btn btn-danger btn-sm" (click)="deleteQuestion(question.id)">Delete</button>
                                        </div>
                                    </div>
                                    <div class="job_descp">
                                        <a routerLink="../questions/{{question.id}}"><h3>{{question.desc}}</h3></a>
                                        <div *ngIf="question?.answers?.length == 0; else hasAns">
                                            No Answer
                                        </div>
                                        <ng-template #hasAns>{{question.answers[0].desc}}</ng-template>
                                    </div>
                                </div>

                                <!--posts-section end-->
                            </div>
                            <!--product-feed-tab end-->
                            <div class="product-feed-tab" id="info-dd" #productTab>
                                <div class="post-bar" *ngFor="let answer of _stateService.userState.answerList">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="assets/images/cmp-icon6.png" width="35" height="35">
                                            <div class="usy-name">
                                                <h3>Answer creator</h3>
                                                <span>
                                                    <img src="assets/images/clock.png">
                                                    3 min ago
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                                <button class="btn btn-danger btn-sm" (click)="deleteAnswer(answer.id)">Delete</button>
                                        </div>
                                    </div>
                                    <div class="job_descp">
                                        <h3>{{answer.desc}}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--product-feed-tab end-->
                        </div>
                        <!--main-ws-sec end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>